<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Create a message that will be visible only one time</h1>
        <form action="/secret" method="POST">
          <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <div class="input-group mb-3">
              <textarea
                class="form-control"
                name="message"
                id="message"
                placeholder="message"
                rows="5"
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-lock"></i
                ></span>
              </div>
            <div>
              <button class="btn btn-primary" type="submit" name="signin">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
