<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Create and share a secret that will be visible only one time</h1>
        <p>Secrets are :
          <ul>
            <li>stored only <strong>7 days</strong>, then they are destroyed</li>
            <li>can be viewed <strong>only one time</strong></li>
            <li><strong>encrypted with a random password</strong>, to be protected against service provider (password is contained in the link shared)</li>
          </ul> 
         </p>
        <form action="/secret" method="POST">
          <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <div class="input-group mb-3">
              <textarea
                class="form-control"
                name="message"
                id="message"
                placeholder="message"
                rows="5"
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-primary" type="submit" name="signin">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
