<!DOCTYPE html>
<!-- https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application -->
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script type="text/javascript">
      function password_show_hide() {
        var x = document.getElementById("password");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
          x.type = "text";
          show_eye.style.display = "none";
          hide_eye.style.display = "block";
        } else {
          x.type = "password";
          show_eye.style.display = "block";
          hide_eye.style.display = "none";
        }
      }
    </script>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Create secret</h1>
        <form action="/secret" method="POST">
          <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <div class="input-group mb-3">
              <textarea
                class="form-control"
                name="message"
                id="message"
                placeholder="message"
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-lock"></i
                ></span>
              </div>

              <input
                class="form-control"
                type="password"
                name="password"
                id="password"
                autocomplete="new-password"
              />
              <div class="input-group-append">
                <span class="input-group-text" onclick="password_show_hide();">
                  <i class="fas fa-eye" id="show_eye"></i>
                  <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                </span>
              </div>
            </div>
            <div>
              <small class="form-text text-muted"
                >Password used for data encryption</small
              >
            </div>
            <div>
              <button class="btn btn-primary" type="submit" name="signin">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
